.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 24px;
}

.header__menu {
  display: flex;
}

.header__links-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-left: 26px;
  margin-right: 36px;
  font-size: 18px;
  line-height: 1.3;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__address {
  margin-top: 7px;
  margin-right: 65px;
  margin-left: auto;
}

.address {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.3;
}

